.page {
  display: flex;
  flex-direction: column;

  padding: 0px;
  gap: 50px;
  overflow: hidden;

  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  padding: 5px;
  gap: 20px;

  height: 100%;
  width: 1000px;

  border: 1px solid white;
}

@media only screen and (max-width: 1000px) {
  .section {
    width: 100%;
  }
}
