.inputContainer {
  display: flex;

  justify-content: space-between;
  align-items: center;
  align-self: flex-end;

  padding: 0.5rem 0.75rem;
  gap: 10px;

  height: 35px;
  width: fit-content;

  border: none;
  border-radius: 5px;
  background-color: rgb(245, 244, 242);

  .input {
    background-color: rgb(245, 244, 242);
    outline: none;
    border: none;
  }
}
